html, body {
    margin: 0;      /*чтобы убрать отступы по умолчанию в разных браузерах*/
    padding: 0;     /*чтобы убрать отступы по умолчанию в разных браузерах*/
    height: 100%;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}


.main {
    font-size: 0;                       
}


 header {
    font-size: 0;                       /*чтобы внутренние блоки выравнивались по % без лишних отступов*/
}

.header_conteiner {
    background-color: rgb(250, 253, 255);
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(221, 231, 247);                
    box-sizing: border-box;
    padding: 0.5% 2%;
}


.header_title {
    text-align: center;
    font-size: 18px;
    opacity: 0.8;
}


.header_purpose {
    font-size: 16px;
}


.content {
    font-size: 0;
    max-height: 100%;
    box-sizing: border-box;
    padding-bottom: 25px;

}



.left_block, .central_block, .right_block {
    display: inline-block;            
    padding: 10px;
    font-size: 14px;        
    box-sizing: border-box;
    height: 100%;
    vertical-align: top;
}


.left_block {
    width: 7%;
           
}


.central_block {
    width: 86%;
          
}


.color_text {
    color: brown;
}


.code_block {
    background-color: rgba(250, 253, 255);    
    border: 1px solid rgb(221, 231, 247); 
    border-radius: 5px;
    display: inline-block;                       
    margin-left: auto;
    margin-right: auto; 
    width: 100%; 
    box-sizing: border-box;

}
 

pre {
    display: block;
    max-width: 90%;
    /*white-space: pre-wrap;       /* варианты переноса строки в разных браузерах css-3 */
    /*white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    /*white-space: -pre-wrap;      /* Opera 4-6 */
    /*white-space: -o-pre-wrap;    /* Opera 7 */
    /*word-wrap: break-word;       /* Internet Explorer 5.5+ */     
    box-sizing: border-box;
    overflow: auto;
    white-space: pre-line;
    margin-left: 25px;  
    margin-top: -5px;

}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    margin-top: 20px;    
    margin-bottom: 20px;          
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    max-width: 100%; 
    
}

#code_block_comment {
    color: gray;
}

.right_block {
   width: 7%;
    
    
}


.footer {
    font-size: 0;
    
} 


.footer_conteiner {
    background-color: rgba(250, 253, 255);
    width: 100%;
    border-top: 1px solid rgba(221, 231, 247);                 
    box-sizing: border-box;
    padding: 0.5% 2%;
    text-align: right;
    margin-top: -25px;
    font-size: 14px;
}




